body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.blockpage {
    display: flex;
    width: 95%;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	
}

h1 {
	margin-top: 50px;
	text-align:center;
}
th 
{
	text-align:left;
	background-color: #ffa;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#accountListGreen {
	width:100%;
}

#accountListGreen p, #accountListGreen h2 {

}

.accountItemGreen {
 
}

.accountItemGreen td {
    text-align: left;
}

.banButton, .hideButton {

}

.banButton:hover, .hideButton:hover {
    background-color: #2980b9;
}

@media (max-width: 600px) {
    #accountListGreen {
        justify-content: center;
    }

    .accountItemGreen {
        width: 100%;
    }
}

.hiden1
{
    background-color: rgba(0,0,0,0.2);
}
.banned1
{
    background-color: rgba(0,0,0,0.8);
    color:white
}